.backgroud-div {
    background-image: url(img/pexels-fox-58267-1172675.jpg);
    background-size: cover;
    height: 555px;
    width: auto;
    padding-top: 70px;
    padding-left: 420px; 
}

.form-div {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 500px;
    width: 450px;
    backdrop-filter: blur(3px);
    /* background-color: aqua; */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}

h2 {
    color: white;
    text-align: center;
}

.input-box-1 {
    height: 30px;
    width: 300px;
}

.input-box-2 {
    height: 30px;
    width: 300px;
    margin-top: 7px;
}

.gender-box {
    margin-left: 3px;
    font-size: large;
margin-top: 7px;
color: white;
width: 290px;
height: 20px;
}

#D-O-B {
    margin-left: 3px;
    padding-top: 7px;
    color: white;
}

#dob1 {
    color: white;
   height: 22px;
    width: 110px; 
    border: double;
    backdrop-filter: blur(3px);
    background: transparent;
}

.fees-checkbox {
    margin-left: 3px;
    padding-top: 3px;
    color: white;
}

#fees-month {
    color: white;
    margin-top: 7px;
    margin-left: 5px;   
    height: 30px;
    width: 130px;
    backdrop-filter: blur(3px);
    background: transparent;
}

#fees-month-12 {
    color: black;
}
#submit-btn {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
        backdrop-filter: blur(3px);
    background: transparent;
    font-size: medium;
    margin-top: 10px;
    height: 30px;
    width: 300px;
    margin-left: 3px;
}